:root {
    --primary: #ec5242;
    --secondary: rgba(211, 211, 211,0.3);
    --tertiary:#272a31;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

.topic {
    background-image: url(images/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:1rem;
}

.topic .fa {
    font-size: xx-large;
}

.main-header {
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.6rem;
    font-family: 'COCOGOOSE', sans-serif;
    margin-bottom: 8vh;
}

.main-header h2 {
  color: var(--primary);
  font-size: 5vw;
}

.main-header h1 {
    color:var(--primary);
    font-size: 8vw;
    line-height: 8vw;
    background-image: url(images/9a3598ae6981cc5da035463067fb7602.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.main-header p {
    border:3px solid white;
    font-size: 3vw;
    line-height: 5vw;
    background-color: rgb(249, 248, 248);
    color: var(--tertiary);
    padding: 2.5vw;
}

.details h3 {
    font-size: 6vw;
    font-family: 'COCOGOOSE', sans-serif;
    color: var(--tertiary);
    margin-bottom: 1vw;
}

.details h5 {
    font-size: 3.5vw;
}

.programs {
    background-image: url(images/program-pattern.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8vw;
    padding-bottom: 8vw;
}

.programs h2 {
    font-size: 5vw;
}

.hori {
    background-color:var(--primary);
    width:10%;
    border:1px solid var(--primary);
    margin-top: 4.3vw;
}

.program-container {
    margin:4vw;
    display: grid;
    grid-template-rows: repeat(5, 7vh);
    gap:4vh;

}

.program {
    display:flex;
    justify-content: space-between;
    gap:3vw;
    align-items: center;
    padding:5vw;
    background-color: var(--secondary);
    height: 10vh;
}

.program img {
    height: 6vw;
    width: 6vw;
}

.program-col {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    gap: 5vw;
}

.program p {
    font-size: 2.6vw;
}

.program h3 {
    font-size: 3.8vw;
    color: var(--primary);
    font-weight: bold;
}

.program p {
    font-size: 2.5vw;
}

.programs button {
    background-color: var(--primary);
    color: white;
    border: none;
    margin-top: 7vw;
    padding:5vw 7vw;
    font-size: 4vw;

}

.speakers {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top:8vw;
    padding-bottom: 8vw;
}

.speakers h2 {
    font-size: 5vw;
}

.more {
    border:2px solid #d6d6d6;
    margin: 7vw 2vw 0 2vw;
    width:95%;
    position: relative;
    text-align: center;
    padding: 3vw 0;
    font-size: 5vw;
    font-weight: 400;
    color: var(--tertiary);
}

.more .fa {
    color: var(--primary);
}

.partners {
    background-color: var(--tertiary);
    padding: 7vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer-row {
    padding: 7vw;
    display: flex;
    align-items: center;
    gap:4vw;
}

.footer-col {
    flex-basis: 50%;
    justify-content: center;
    
}

.footer-col p {
    font-size: 2.4vw;

}

/* about us mobile  */
.topic-about {
    background-image: url(images/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:1rem;
}

.topic-about .fa {
    font-size: xx-large;
}

.topic-about .main-header {
    text-align: center;
    margin-bottom: 0;
}

.topic-about .main-header p {
    margin-top: 6vw;
    border: 2px solid var(--secondary);
    box-shadow: 2px var(--tertiary);
    font-size: 3.3vw;
    background-color: white;
    padding: 3vw;
    margin-bottom: 0;
}

.topic-about span {
   font-size: 3.3vw;
   line-height: 5vw;
}

.topic-about .main-header h1 {
    background: none;
    color:var(--primary)
}

.about-intro {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 4vh;
   margin-bottom: 6vh;
   padding: 0 14vw;
   text-align: center;
}

.about-intro h2 {
    white-space: pre-line;
    font-size:5vw;
}

.about-intro p {
    margin-top: 2vh;
    font-size: 3.6vw;
}

.event {
    display: flex;
    border: 2.5px solid var(--secondary);
    justify-content: center;
    margin: 0 7vw 4vh 7vw;
    padding: 3vh auto;
    height:18vh;
    align-items: center;
    gap:1vw;
}

.event .logo img {
   height:7vh;
}

.brand .brand-header {
    white-space: pre-line;
    font-size: 8vw;
    font-family: 'COCOGOOSE', sans-serif;
    line-height: 7vw;
}

.brand .event-details {
    font-size: 2vw;
    border-top: 1px solid var(--tertiary);
    border-bottom: 1px solid var(--tertiary);
    color: var(--tertiary);
    text-align: center;
    letter-spacing: 0.1rem;
}

.past {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid var(--secondary);
    box-shadow: 2px var(--secondary);
    padding:8vw;
    text-align: center;
}

.past h2 {
    font-size: 5vw;
}

.past p {
    font-size: 4vw;
    margin-top: 3vw;
}

.past .past-container {
    display: flex;
    flex-direction: column;
    gap:3vw;
    width:100%;
    margin: 7vw;


}

.past-container .past-img {
    position: relative;
    flex-basis: 50%;
    overflow: hidden; 
}

.past-img img {
    width:100%;
    display: block;
}

.past-img .layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
  }

  .layer .layer-up {
    width: 100%;
    color: #fff;
    left: 50%;
    font-weight: 500;
    font-size: 26px;
    bottom: 0;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
  }

  .past-img .layer:hover {
    background: rgba(226, 0, 0, 0.4);
  }

  .layer:hover .layer-up {
    bottom: 49%;
    opacity: 1;
  }

.part-col {
    flex-basis:35%;
    position: relative;
    overflow: hidden;
}

.part-col img {
    width:100%;
    display: block;
}

.log {
    display: flex;
    align-items: center;
}

.log img {
    height: 5vh;
    display: block;
}



